/* Mixins */
/* Page */
.center {
  display: flex;
  justify-content: center;
}
/* Quote */
.quoteWrapper {
  padding-bottom: 20px;
}
.tag {
  background-color: #0d3349;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.originalAuthor {
  padding-left: 10%;
}
/* QuotePage */
.back-to-top {
  background: none;
  margin: 0;
  padding: 0 10px 10px 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #000000;
}
.back-to-top i {
  font-size: 60px;
}
